body {
    margin:0;
    padding:0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    /* max-width:270px; số cột x 21px + 1px */
}
.item {
    background: blue;
    height:40px;
    width:40px;
    border:1px solid black;
    cursor: pointer;
    text-align: center;
    font-size:20px;
}
.item:hover {
    background:rgb(81, 22, 219);
}