body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
canvas {
    border: 1px solid black;
}
h1 {
    text-align: center;
    color: red;
}
.mode2 {
    padding:10px;
    background-color:blue;
    cursor: pointer;
    border-radius: 5px;
    color:white;
    font-size:15px;
}