body {
    background-color:bisque;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.col, .row {
    width: 200px;
    height:20px;
    margin: 2px
}
#submit {
    padding:10px;
    background-color: violet;
    font-size:15px;
    border-radius: 5px;
}
.headItem {
    margin:2px;
    cursor: pointer;
}   
.header {
    display: grid;
}
.result {
    display: grid;
}
